* {box-sizing: border-box;}

    .wrapper {
        max-width: 1024px;
        margin: 0 auto;
        font: 1.2em Helvetica, arial, sans-serif;
    }

    .wrapper > * {
        border: 1px solid #f08c00;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
.main-header {
  grid-area: header;
}
.main-content {
  grid-area: content;
  text-align: left;
}
.main-nav {
  grid-area: nav;
}
.main-sidebar {
  grid-area: sidebar;
}
.main-ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
  font-size: 0.6em;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer";
}
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "sidebar content"
      "ad      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "nav    content sidebar"
      "nav    content ad"
      "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
}

@keyframes main-header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-header-logo{
  float: left;
}

.main-header-logo img {
  animation: main-header-logo-spin infinite 20s linear;
  height: 80px;
}

.main-header-login {
  float: right;
}
